.main-section {
    width: 100%;
    height: 80vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
    url(assets/silent-voice.jpg);
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    background-position: top;
    /* background-blend-mode: saturation; */
}

.logoa {
    width: 20px;
    display: none;
}

.logob {
    width: 200px;
    display: none;
}

.separaciones-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caja-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

select {
    height: 2rem;
    background-color: transparent;
    border-color: transparent;
}

.main {
    padding: 30px;
    box-sizing: border-box;
}

.boton-header {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-color: transparent;
}

.temporal-header {
    display: flex;
    flex-direction: row;
}

.temporal {
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.descripcion-header {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.boton-rojo {
    background-color: red;
    border-color: transparent;
    border-radius: 3px;
    display: flex;
    height: 40px;
    width: 150px;
    flex-direction: row;
    align-items: center;
    margin-right: 3px;
}

.boton-gris {
    background-color: gray;
    opacity: 0.7;
    border-color: transparent;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
}

h1, p {
    font-family: 'Oxygen', sans-serif;
    max-width: 100%;
    color: white;
}

.titulos {
    text-align: center;
}

.contenedor {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.iconos-footer {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1f;
    justify-items: center;
    row-gap: 50px;
}

.imagen {
    object-fit: cover;
    border-radius: 4px;
    width: 320px;
    transition: all 0.5s ease-in-out;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}

.enlaces-header {
    max-width: 100%;
    font-weight: bold;
}

footer {
    padding: 30px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.texto-footer {
    color: gray;
    max-width: 100%;
}

.imagen-footer {
    width: 30px;
}

.imagen:hover {
    transform: scale(1.2);
}

.logoa {
    display: block;
    /* background-image: url(assets/Logo.png); */
}
.enlaces-header {
    display: none;
}

.codigo {
    text-align: center;
}

@media screen and (min-width: 481px) {
    .logob {
        display: none;
    }

    .logoa {
        display: block;
        /* background-image: url(assets/favicon.png); */
    }
}

@media screen and (min-width: 780px) {
    .enlaces-header {
        display: block;
    }

    .logoa  {
        display: none;
    }

    .logob {
        display: block;
    }

    .descripcion-header {
        align-items: flex-start;
        padding-top: 8%;
    }

    .temporal {
        margin-right: 50%;
    }

    .iconos-footer {
        justify-content: left;
    }

    .contenedor-footer {
        flex-direction: row;
        text-align: left;
    }

    .titulos {
        text-align: left;
    }

    h1, p {
        max-width: 50%;
    }

    .codigo {
        text-align: start;
    }

    .iconos-footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 20px;
    }
}